<div ng-app="app"> 
	<div ng-view></div>
</div> 
<script type="text/javascript"> 

    jQuery(document).ready(function() { 

        $('a.loader').click(function() {
            $('#back').load('profile.html');
        });
    });
</script>
