<header>
      <div class="row">
        <div class="large-2 large-offset-10 columns medium-centered columns">

            <img src="img/logo/zeevi_3.png">

        </div>
      </div>
    </header>

    <div class="bg">
      <img src="img/photos/gif.gif">
    </div>

    <!--
    <section class="container-landing-page">

      <p>
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit<br/>
        <a href="signup.html" class="small button">Regístrate</a>&nbsp;
        <a href="login.html" class="small button">Inicia Sesión</a>
      </p>

      <div class="nexus-img"><img src="img/Nexus5.png"> </div>
      <div class="iphone-img"><img src="img/iphone.png"> </div>

    </section>
-->
    <section class="container-landing-page">
      <div class="row">
        <div class="small-10 medium-5 large-5 small-centered large-uncentered medium-uncentered columns">
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
            <br/>
            <a href="signup.html" class="small button">Regístrate</a>&nbsp;
            <a href="login.html" class="small button">Inicia Sesión</a>
        </div>
        <div class="small-8 medium-7 large-7 small-centered large-uncentered  medium-uncentered columns">

          <div class="nexus-img"><img src="img/Nexus5.png"> </div>
          <div class="iphone-img"><img src="img/iphone.png"> </div>

        </div>
      </div>
    </section>

    <div class="footer">
      <!--Footer code here-->
      <span>Descarga la app</span>
      <img src="img/photos/gplay.png" style="width: 100px;">
      <img src="img/photos/appst.png" style="width: 100px;">
    </div>