<header>
  <div class="row">
    <div class="large-2 large-offset-10 columns medium-centered columns">

        <img src="/assets/logo/zeevi_3.png">

    </div>
  </div>
</header>
<style>
</style>
<div class="bg">
  <img src="/assets/photos/gif.gif">
</div>
<section class="container-landing-page">
  <div class="row">
    <div class="small-10 medium-5 large-5 small-centered large-uncentered medium-uncentered columns">
      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
        <br/>
        <a href="/#/signup" class="small button">Regístrate</a>&nbsp;
        <a href="/#/login" class="small button">Inicia Sesión</a>
    </div>
    <div class="small-8 medium-7 large-7 small-centered large-uncentered  medium-uncentered columns">

      <div class="nexus-img"><img src="/assets/Nexus5.png"> </div>
      <div class="iphone-img"><img src="/assets/iphone.png"> </div>

    </div>
  </div>
</section>

<div class="footer">
  <!--Footer code here-->
  <span>Descarga la app</span>
  <img src="/assets/photos/gplay.png" style="width: 100px;">
  <img src="/assets/photos/appst.png" style="width: 100px;">
</div>

