
    <header class="header-signup">
      <div class="row">
        <div class="large-12 columns">
          <h3>zeevi</h3>
        </div>
      </div>
    </header>
    
    <br/><br/>
  
    <div class="row">
        <div class="small-6 large-centered columns bound">
          <h1>
            Sign up for zeevi_
          </h1>
        </div>    

        <div class="small-6 large-centered columns bound">
          <form>
            <div class="row">
              <div class="large-12 columns">
                  <input type="text" placeholder="Username" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                  <input type="password" placeholder="Password" />
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                  <input type="text" placeholder="e-mail" />
              </div>
            </div>
            
            <div class="row">
              <div class="large-12 columns">
                <label>Register as:</label>
                <input type="radio" name="Type" value="band" id="band"><label for="band">Band</label>
                <input type="radio" name="Type" value="venue" id="venue"><label for="venue">Venue</label>
                <input type="radio" name="Type" value="fan" id="fan"><label for="fan">Fan</label>
              </div>
            </div>
            
            <div class="row">
              <div class="large-12 columns">
                  <a href="/#/profile" class="expand button">Sign up!</a>
                  <p class="small-word">By pressing the "Sign up!" button, you acknowledge and agree to all of the terms and conditions.</p>
              </div>
            </div>
            
          </form>
          
          <div class="row">
              <div class="large-12 columns">
                <p>
                  Do you already have a zeevi account? <a href="index.html">Log in.</a>
                </p>
              </div>
            </div>
          
        </div>
      
    </div>
    
    <div class="footer">
      <!--footer-->
    </div>