
<header>
      <div class="row">
        <div class="large-12 columns">
          <h3>zeevi</h3>
        </div>
      </div>
    </header>

    <div class="bg">
      <img src="img/photos/gif.gif" style="width:100%">
    </div>

    <section class="container-landing-page">

      <p>
        Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit<br/>
        <a href="/#/sing_up" class="small button">Sing up</a>&nbsp;
        <a href="/#/login" class="small button">Log in</a>
      </p>

      <div class="nexus-img"><img src="img/Nexus5.png"> </div>
      <div class="iphone-img"><img src="img/iphone.png"> </div>

    </section>
    
    <div class="footer">
      <!--Footer code here-->
      Get the app <br/>
      <img src="img/photos/gplay.png" style="width: 100px;">
      <img src="img/photos/appst.png" style="width: 100px;">
    </div>