
    <header class="header-login">
      <div class="row  ">
        <div class="large-12 columns">
          <h3>zeevi</h3>
        </div>
      </div>
    </header>
      
      <div class="row title-login">
        <div class="small-6 large-centered columns bound">
          <h1>
            Sign in for zeevi_
          </h1>
        </div>   
      </div>

<form class="login-form">
  <div class="row">
    <div class="small-6 large-6  small-centered large-centered columns">
        <input type="text" placeholder="Username" />
    </div>
  </div>
  <div class="row">
    <div class="small-6 large-6 small-centered large-centered columns">
        <input type="text" placeholder="Password" />
    </div>
  </div>
    
    
  <div class="row">
     <div class="small-6 large-6 small-centered large-centered columns">
         <a href="/#/profile" class="button expand">Iniciar Sesión</a>
     </div>   
  </div>
    
    <div class="row">
              <div class="small-6 large-6 small-centered large-centered columns">
                <p>
                  Forgot you password? <a href="index.html">Reset Password</a>
                </p>
              </div>
            </div>
          
        </div>
      
    <div class="row">
              <div class="small-6 large-6 small-centered large-centered columns">
                <p>
                  Don't have an account? <a href="/#/signup">Sign up.</a>
                </p>
              </div>
            </div>
          
        </div>
    
  
</form>